html{
    background: linear-gradient(to right, #00c6ff, #0072ff);
    font-family: Arial;
}

.mainCon{
    background-color: white;
    color: #4070f4;
    border: white 2px 3px;
    border-radius: 12px;
    margin: 0 auto;
    padding: 12px;
    padding-bottom: 36px;
    margin-top: 75px;
    width: 430px;
    text-align: center;
    box-shadow: 5px 5px 10px #3052b1;
}

.displayCon{
    background-color: white;
    color: #4070f4;
    border: white 2px 3px;
    border-radius: 12px;
    margin: 0 auto;
    padding: 25px;
    margin-top: 220px;
    width: 430px;
    text-align: center;
    box-shadow: 5px 5px 10px #3052b1;
    font-size: 22px;
}

h1{
    font-size: 30px;
    padding-bottom: 10px;
}

label{
    font-size: 17px;
    font-weight: bold;
}

input{
    padding-left: 8px;
    width: 80%;
    height: 25px;
    margin-top: 2px;
    border-radius: 8px;
    border: #0072ff 2.1px;
    border-style: solid;
    color: #1b60b4;
    font-size: 14px;
}

input[type="submit"]{
    background-color: #0072ff;
    border: #0072ff solid 2px;
    height: 40px;
    transition: .2s;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

input[type="submit"]:hover{
    background-color: white;
    transition: .5s;
    color: #0072ff;
    border: #0072ff solid 2px;
}
